body {
   background: #0033ff;
background: radial-gradient(circle,rgba(0, 51, 255, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(79, 8, 112, 1) 50%, rgba(13, 13, 13, 1) 66%, rgba(0, 25, 255, 1) 100%);
}

header {
    border-bottom: solid 2px rgba(255, 0, 0, 0.677);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

.chamada {
    background: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(104, 1, 1);
}

.categoria h2 {
    color: rgb(235, 227, 6);
}

